.mainCard {
  padding-top: 2em;
  min-height: 30%;
  max-height: 30%;
  max-width: fit-content;
  margin-left: auto;
  margin-right: auto;
}

.mainCardContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  position: relative;
  z-index: 2;
  border: 0.1em solid white;
  padding: 1em;
  border-radius: 1.5em;
  background-color: #000;
  color: white;
  transition:
    background-color 0.5s ease,
    color 0.5s ease,
    box-shadow 0.3s ease,
    transform 0.3s ease;
}

.mainCardContent:hover {
  background-color: white;
  color: black;
  box-shadow: 0 0 15px 5px rgba(255, 255, 255, 0.7);
  transform: scale(1.05);
}

.mainCardContentName {
  font-size: 3rem;
  text-align: center;
}

.mainCardContentIconContainer {
  margin-top: 0.5em;
  display: flex;
  gap: 1rem;
}

.navBar {
  color:black;
  display:flex;
  flex-direction:row;
  position:sticky;
  margin-top:50%;
  width: 100%;
  height: 5em;
  background-color: #fff;
  padding: 10px;
  border-radius: 2em;
  opacity:0.8;
}

